@font-face {
    font-family: TildaSans-Black;
    src: url(/fonts/TildaSans-Black.ttf);
}

@font-face {
    font-family: TildaSans-Bold;
    src: url(/fonts/TildaSans-Bold.ttf);
}

@font-face {
    font-family: TildaSans-ExtraBold;
    src: url(/fonts/TildaSans-ExtraBold.ttf);
}

@font-face {
    font-family: TildaSans-Light;
    src: url(/fonts/TildaSans-Light.ttf);
}

@font-face {
    font-family: TildaSans-Medium;
    src: url(/fonts/TildaSans-Medium.ttf);
}

@font-face {
    font-family: TildaSans-Regular;
    src: url(/fonts/TildaSans-Regular.ttf);
}

@font-face {
    font-family: TildaSans-Semibold;
    src: url(/fonts/TildaSans-Semibold.ttf);
}

.page-body {
    text-align: center;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-link {
    display: flex;
    text-align: center;
    width: auto;
    padding: 12px;
    color: #000000;
    text-decoration: none;
    font-family: "TildaSans-ExtraBold", sans-serif;
    font-size: 25px;
}

.navbar-link:hover {
    opacity: 0.5;
}