.color-black {
    color: #141C3A;
}
.color-orange {
    color: #FF9235;
}
.background-turquoise {
    background-color: #5dd9c8;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-header {
    padding: 0;
    margin: 0;
    font-family: "TildaSans", sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 81px;
    text-align: center;
    text-transform: uppercase;
}

.desc-font {
    font-family: "TildaSans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
}

button {
    cursor: pointer;
}