#letstalk {
    background: linear-gradient(180deg, var(--color-whit) 50%, var(--color-turq) 50%);
}

.letstalk-box {
    margin: 0;
    padding: 3vw;
    background-color: var(--color-purp);
    box-shadow: var(--card-shadow);
    border-radius: 12px;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.letstalk-header {
    margin: auto 0;
    color: var(--color-whit);
    font: var(--text-table-subheader);
    text-align: center;
}

.letstalk-text {
    margin: auto 0;
    padding: 0;
    color: var(--color-whit);
    font: var(--text-box-header);
    text-align: center;
}

.letstalk-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letstalk-button {
    margin: 0;
    padding: 15px 30px;
    border: 2px solid var(--color-whit);
    border-radius: 15px;
    color: var(--color-whit);
}

.letstalk-button:hover {
    background-color: var(--color-whit);
    color: var(--color-purp);
}

.letstalk-button-text {
    font: var(--text-box-button);
    text-align: center;
    white-space: nowrap;
    color: inherit;
}

@media screen and (max-width: 1100px) {
    .letstalk-box {
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    .letstalk-box {
        width: 80%;
    }
}