.letstalk-box {
    margin: 0;
    padding: 12px 3vw;
    background-color: #8063a6;
    border-radius: 12px;
    width: 80%;
    height: 166px;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}
.letstalk-header {
    margin: auto 0;
    color: #ffffff;
    font-family: "TildaSans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}
.letstalk-text {
    margin: auto 0;
    padding: 0;
    color: #ffffff;
    font-family: "TildaSans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
.letstalk-button {
    margin: 0;
    padding: 15px 30px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    color: #ffffff;
}
.letstalk-button:hover {
    background-color: #ffffff;
    color: #8063a6;
}
.letstalk-button-text {
    font-family: "TildaSans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    color: inherit;
}
.letstalk-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
