nav {
    width: 100%;
    height: 126px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: var(--nav-shadow);
    background-color: var(--color-whit);
}

nav.mobile-nav {
    display: none;
    justify-content: space-between;
    padding: 38.5px 60px;
    align-items: flex-start;
    box-sizing: border-box;
    height: unset;
    transition: all 0.3s ease-in;
}

.mobile-nav summary {
    width: 49px;
    height: 49px;
    background-image: url(../assets/icons/Menu.svg);
    cursor: pointer;
}

.mobile-nav details[open] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}

.mobile-nav details[open] summary {
    background-image: url(../assets/icons/Menu-active.svg);
}

nav ul {
    list-style: none;
    width: 50%;
    margin: 45px 0 45px 25%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-nav ul {
    margin: 0;
    padding-top: 38.5px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.nav-button {
    font: 700 25px/36px "TildaSans", sans-serif;
}

.contact-button {
    border: var(--button-border);
    padding: 9px 22px;
    border-radius: 15px;
    margin: 0;
}

.contact-button:hover {
    background-color: var(--color-orng);
    color: var(--color-whit);
}

.contact-button-text {
    font: var(--text-bold-button);
    color: inherit;
}

.contact-button-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-orng);
}

.mobile-nav .contact-button-container {
    width: 40%;
    margin: 0 5%;
}

@media screen and (max-width: 1100px) {
    nav ul {
        width: 60%;
        margin: 45px 0 45px 5%;
        justify-content: space-around;
    }
    .contact-button-container {
        width: 30%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 900px) {
    nav {
        display: none;
    }
    nav.mobile-nav {
        display: flex;
    }
}