#projects .big-header {
    margin: 70px 0;
}

.projects-display {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}

[class^="projects-card"] {
    padding: 0;
    margin: 0;
    width: 24vw;
    height: 13.5vw;
    box-sizing: border-box;
    border: 3px solid var(--color-purp);
    border-radius: 12px;
    background-size: cover;
    overflow: hidden;
    z-index: 4;
    transition: transform   0.3s ease-in,
                background  0.3s ease-in,
                box-shadow  0.3s ease-in,
                z-index     0.3s ease-out;
}

.projects-card-1 {
    background: url(../assets/images/1.png), var(--color-whit);
    background-size: cover;
}

.projects-card-2 {
    background: url(../assets/images/kube.jpg), var(--color-whit);
    background-size: cover;
}

.projects-card-3 {
    background: url(../assets/images/screenshot.png), var(--color-whit);
    background-size: cover;
}

.projects-card-4 {
    background: url(../assets/images/screenshot.png), var(--color-whit);
    background-size: cover;
}

.projects-card-5 {
    background: url(../assets/images/screenshot.png), var(--color-whit);
    background-size: cover;
}

.projects-card-6 {
    background: url(../assets/images/screenshot.png), var(--color-whit);
    background-size: cover;
}

[class^="projects-card"]:hover {
    z-index: 8;
    transform: scale(1.25);
    background: var(--color-purp);
    box-shadow: var(--card-shadow);
}

.projects-caption {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 32px;
    margin: 0;
    font: var(--text-proj-desc);
    text-align: center;
    color: var(--color-whit);
    transform: opacity 0.3s ease-in;
}

[class^="projects-card"]:hover .projects-caption {
    opacity: 1;
}

.projects-caption a {
    font: var(--text-bold-button);
    color: var(--color-whit);
    margin-top: 30px;
    padding: 9px 22px;
    border: 2px solid var(--color-whit);
    border-radius: 15px;
}

.projects-caption a:hover {
    background-color: var(--color-whit);
    color: var(--color-purp);
}

.projects-button {
    padding: 15px 40px;
    margin: 100px 0;
    border: var(--button-border);
    border-radius: 15px;
}

.projects-button:hover {
    background-color: var(--color-orng);
    color: var(--color-whit);
}

.projects-button-text {
    font: var(--text-button);
    text-align: center;
    white-space: nowrap;
    color: inherit;
}

@media screen and (max-width: 1400px) {
    [class^="projects-card"] {
        width: 36vw;
        height: 20.25vw;
    }
}

@media screen and (max-width: 900px) {
    [class^="projects-card"] {
        width: 64vw;
        height: 36vw;
    }
}