#reviews .big-header {
    margin: 64px 0;
}

.reviews-desc {
    margin: 0;
    padding: 0;
    width: 50%;
}

.reviews-card {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-photo {
    width: 20vw;
    height: 15vw;
    margin: 51px 0;
    padding: 0;
    border: var(--img-border);
    border-radius: 10px;
    overflow: hidden;
}

.reviews-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reviews-caption {
    margin: 0;
    padding: 0;
}

.reviews-text {
    margin: 20px 0;
    padding: 0;
    font: var(--text-p);
    text-align: center;
}

.reviews-info {
    margin: 0;
    padding: 0;
    font: var(--text-reviews-info);
    text-align: center;
}

.reviews-toggle {
    margin: 41px 0 45px 0;
    width: 138px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviews-toggle-button {
    padding: 0 6px;
    height: 40px;
    border: 2px solid var(--color-orng);
    border-radius: 20px;
    background: var(--color-whit);
}

.reviews-toggle-button:hover {
    background-color: var(--color-orng);
}

.reviews-toggle-button:hover .reviews-toggle-arrow {
    display: none;
}

.reviews-toggle-button:hover .icon-hover {
    display: block;
}

@media screen and (max-width: 1100px) {
    .reviews-photo {
        width: 40vw;
        height: 30vw;
    }
}