#skills .big-header {
    margin: 60px 0;
}

.skills-table {
    width: 80%;
    border-radius: 12px;
    border: var(--table-border);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 70px;
}

.skills-card {
    border-left: var(--table-border);
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 70px;
}

.skills-card:first-child {
    border-left: 0px;
}

.skills-card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.skills-card-icon {
    width: 72px;
    height: 72px;
}

.skills-card-header {
    padding: 0;
    margin: 25px 0;
    font: var(--text-table-header);
    text-align: center;
}

.skills-card-text {
    font: var(--text-table);
    text-align: center;
    margin: 0;
    padding: 0 0 12px 0px;
    width: 100%;
}

.skills-card-subheader {
    padding: 0;
    margin: 12px 0;
    font: var(--text-table-subheader);
    text-align: center;
}

.skills-card-list {
    list-style: none;
    font: var(--text-table);
    text-align: center;
    margin: 0;
    padding: 0 0 32px 0;
    width: 100%;
}

.skills-card-list:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1250px) {
    .skills-table {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    .skills-table {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
    .skills-card {
        border-left: none;
        border-top: var(--table-border);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills-card:first-child {
        border-top: none;
    }
}